.header {
  height: 94px;
  background-color: rgb(239, 239, 239);
  padding-left: 30px;
}

.climbing-logo {
  max-width: 200px;
  padding-top: 17px;
}

.header-ul {
  display: flex;
  float: right;
  margin-right: 44px;
  margin-top: 30px;
}

li {
  padding-left: 30px;
}

a {
  text-decoration: none;
  color: black;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic,verdana,Lucida Grande,Arial,Meiryo,Hiragino Kaku Gothic Pro,'Trebuchet MS',Helvetica,sans-serif;
  line-height: 1.5;
  font-size: 14px;
}