.gym-index {
  background-color: rgb(247, 169, 208);
}

.item-img-content {
  display: inline;
}

.gym-lists {
  position: absolute;
  top:30%;
  width: 100vw;
  justify-content: center;
  float: right;
  display: flex;
}
.list {
  margin-bottom: 30px;
}

.item-name {
  font-size: 150%;
  text-align: center;
  display: inline;
}

.gym-image {
  width: 50%;
  position:relative;
  width: 33vh;
  height: 33vh;
}
