.gym-index {
  background-color: rgb(247, 169, 208);
}

.item-img-content {
  display: inline;
}

.gym-lists {
  position: absolute;
  top:30%;
  left: 15%;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.list {
  margin-bottom: 30px;
}

.item-name {
  font-size: 150%;
  text-align: center;
  display: inline;
}
