main {
  background-color: cadetblue;
}
.container {
  position:absolute;
  display: inline-block;
  width: 40%;
  height: 60%;
  background-color: burlywood;
  margin-top: 127px;
  margin-left: 55vh;
  text-align: center;

}

.group {
  font-family: 'Playfair Display', serif;
  font-feature-settings: "palt";
  font-size: 60px;
  line-height: 100px;
  letter-spacing: 1px;
}

.grouppage-body {
  opacity: 1;
  background-size: 1680px;
}

.slack-btn {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slack-btn-icon {
  width: 30.2px;
  height: 30.2px;
}

.group-page {
  background-image: image-url('group-index.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color:rgba(255, 255, 255, 0.5);
	background-blend-mode:lighten; 
  width: 184vh;
  height: 100vh;
}