<!DOCTYPE HTML>
<html>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Climbing-App</title>
  </head>
  <body>
  <header>
    <%= render partial: "shared/header"%>
  </header>
  <%= link_to "岩情報の投稿",new_rock_information_path%>

  <% @rock.each do |rock| %>
    <%= rock.content %>
    <div class="rock-item">
      <% rock.images.each do |image| %>
        <%= image_tag image, class:'images' %>
      <% end %>
    </div>
  <% end %>

    <footer>
    </footer>
  </body>
</html>