<div class="contents row">
  <ul class = "gym-lists">
    <% @task.each do |task| %>
      <li class= "list">
        <% task.images.each do |image| %>
          <%= image_tag image%>
        <%= task.name%>
        <%= task.rock_task_grade.name%>
        <%= task.other%>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>