<div class="contents row">
  <ul class = "gym-lists">
    <% @tasks.each do |task| %>
      <li class= "list">
        <%= link_to rock_information_rock_task_path(rock_infotmation/task.id) do%>
          <div class = "item-name">
            <%= task.name%>
            <%= task.rock_task_grade.name%>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
</div>