// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buy-page {
  background-image: image-url("order.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color:rgba(255, 255, 255, 0.5);
	background-blend-mode:lighten; 
  width: 184vh;
  height: 100vh;
}

.order {
  width: 110vh;
  height: 50vh;
  background-color:rgba(255, 255, 255, 0.7);
  position: absolute;
  margin-top: 20vh;
  margin-left: 35vh;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.order {
  animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}

@keyframes popup {
  0% {
    transform: translateY(40px) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1.0);
  }
  80%, 100% {
    opacity: 1;
  }
}
 
.anim-box.popup.is-animated {
  animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}
 
@keyframes popup {
  0% {
    transform: translateY(40px) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1.0);
  }
  80%, 100% {
    opacity: 1;
  }
}

.form-field {
  padding-top: 20px;
  margin-left: 35vh;
}

.buy {
  margin-top: 30px;
  margin-left: 35vh;
}