* {
  box-sizing: border-box;
}

@media (max-width: 599px) {

  body {
    width: 1680px;
    height: 526px;
  }
  .header-logo {
    color: #ffffff;
    left: 40px;
  }
  .catch-copy {
    width: 30px;
    left: 30px;
  }

}
.toppage-body {
  border: 1px solid #707070;
  opacity: 1;
  background-image: image-url("background-image.jpg");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.header-container {
  width: 100%;
  max-width: 1320px;
  margin-left: 185px;
  margin-right: 175px;
}

.header-logo {
  position: absolute;
  margin-top: 18px;
  display: inline-block;
  font-family: SignPainter;
  font-size: 55px;
  color: #ffffff;
}

.header-btn {
  font-family: SignPainter;
  font-size: 25px;
  color: #ffffff;
  margin-top: 35px;
}

.toppage-gym-btn{
  // width: 140px;
  // background: #ff8018;
  // text-align: center;
  // border-radius: 4%;
  // top: 450px;
  // right: 11px;
  // position: fixed;
  // padding: 15px;
  // margin-right: 1200px;
  position: absolute;
  width: 200px;
  height: 50px;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  top: 48vh;
  right: 2vw;
  position: fixed;
  padding: 15px;
  margin-right: 1170px;
  color: black;
}

.toppage-rock-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  top: 48vh;
  right: 2vw;
  position: fixed;
  padding: 15px;
  margin-right: 870px;
  color: white;
}

.btn-icon {
  width: 15%;
  height: 150%;

}

.btn-letter {
 color: black;
}

.catch-copy {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 55px;
  position: absolute;
  top: 339px;
  left: 271px;
  width: 550px;
  height: 55px;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}



// 要素のアニメーション↓
.catch-copy{
    animation: zoomIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  }
   
  @keyframes zoomIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

.toppage-gym-btn{
  animation: zoomIn 3s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
 
@keyframes zoomIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.toppage-rock-btn {
  animation: zoomIn 3s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
 
@keyframes zoomIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}